.header {
  padding: 20px;
  height: 100px;
  color: white;
}

.header h2{
  background-color: #808080;
  padding: 20px;
  border-radius: 5px;
}

.lists {
  list-style: none;
  padding: 20px 0px;
  margin: 0px auto;
}

.lists .list {
  padding: 8px;
  font-size: 1.2em; 
}

.lists .list a {
  color: #8aacb8;
}

.create-list {
  padding-bottom: 100px;
}

.create-list-input {
  width: 300px;
  line-height: 20px;
  border-radius: 3px;
}

.create-list-button {
  margin-left: 20px;
  padding: 4px 10px;
  line-height: 20px;   
}


